@keyframes smoothFadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: .4;
  }
  60% {
    opacity: .6;
  }
  80% {
    opacity: .8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes underline {
  to {
    width: 100%;
  }
}

@keyframes fade {
  0% {
    transform: translateY(-1600px);
    opacity 0;
  }

  80% {
    opacity: .8;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes smoothFadeInTop {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  20% {
    opacity: .2;
  }
  40% {
    opacity: .4;
  }
  60% {
    opacity: .6;
  }
  80% {
    opacity: .8;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
